<div class="container-fluid">
    <div class="row center bottomPad dark paddingd">

        <nav class="navbar navbar-default navbar-inverse stackbox">
            <div class="container-fluid navbar-right">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button button-clear" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar white"></span>
                    <span class="icon-bar white"></span>
                    <span class="icon-bar white"></span>
                </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="home" class="white">Home</a></li>
                    <li><a ui-sref="about" class="white">About</a></li>
                    <li><a ui-sref="work" class="white">Work</a></li>
                    <li><a ui-sref="contact" class="white">Contact</a></li>
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            </nav>

        <h2 class="header white">DAVIS PLUMLEE</h2>
    </div>
    <div class="row topPad">
        <div class="col-sm-4 col-md-3 sidebar">
            <ul class="list-unstyled">
                <li class="side"><a class="black hvr-underline-from-left2" ui-sref="home">HOME</a></li>
                <li class="side"><a class="black hvr-underline-from-left2" ui-sref="about">ABOUT</a></li>
                <li class="side"><a class="black hvr-underline-from-left2" ui-sref="work">WORK</a></li>
                <li class="side"><a class="black hvr-underline-from-left2" ui-sref="contact">CONTACT</a></li>
                
            </ul>
        </div>
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
            <h2 class="header bottomPa">CONTACT</h2>
            <h3 class="header">p: 208.891.1528</h3>
            <h3 class="header">e: <a href="mailto:davis.plumlee@gmail.com">davis.plumlee@gmail.com</a></h3>
        </div>
    </div>
    
    <div class="row center topperPad">
        <ul class="list-inline">
           <li class="space"><a href="https://github.com/davisplumlee" target="_blank" class="hov2"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li class="space"><a href="https://gitlab.com/davisplumlee" target="_blank" class="hov2"><i class="fa fa-gitlab" aria-hidden="true"></i></a></li>
            <li class="space"><a href="https://twitter.com/DavisPlumlee" target="_blank" class="hov2"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="space"><a href="https://www.flickr.com/photos/davisplumlee/" target="_blank" class="hov2"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
            <li class="space"><a href="https://www.linkedin.com/in/davisplumlee" target="_blank" class="hov2"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>