<div class="container-fluid home-nav">
    <div class="row home-social">
        <ul class="list-unstyled">
            <li class="space"><a href="https://github.com/davisplumlee" target="_blank" class="hov"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <!--<li class="space"><a href="https://gitlab.com/davisplumlee" target="_blank" class="hov"><i class="fa fa-gitlab" aria-hidden="true"></i></a></li>-->
            <li class="space"><a href="https://twitter.com/DavisPlumlee" target="_blank" class="hov"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="space"><a href="https://www.flickr.com/photos/davisplumlee/" target="_blank" class="hov"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
            <li class="space"><a href="https://www.linkedin.com/in/davisplumlee" target="_blank" class="hov"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="row home-center">
        <h1 class="home-text">DAVIS PLUMLEE</h1>
        <!--<h2 class="home-text2">Full Stack Developer</h2>
        <h2 class="home-text3">Creative</h2>-->
    </div>
    <div class="row home-nav-link">
        <ul class="list-inline">
            <li class="home-nav-button" ui-sref-active="active"><a class="white hvr-underline-from-left" ui-sref="about">ABOUT</a></li>
            <li class="home-nav-button" ui-sref-active="active"><a class="white hvr-underline-from-left" ui-sref="work">PROJECTS</a></li>
            <li class="home-nav-button" ui-sref-active="active"><a class="white hvr-underline-from-left" ui-sref="contact">CONTACT</a></li>
            <li class="home-nav-button" ui-sref-active="active"><a class="white hvr-underline-from-left" href="media/resume/Resume_Final.pdf" target="_blank">RESUME</a></li>
        </ul>
    </div>
</div>