<div class="container-fluid">
    <div class="row center bottomPad dark paddingd">

        <nav class="navbar navbar-default navbar-inverse stackbox">
            <div class="container-fluid navbar-right">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button button-clear" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar white"></span>
                    <span class="icon-bar white"></span>
                    <span class="icon-bar white"></span>
                </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="home" class="white">Home</a></li>
                    <li><a ui-sref="about" class="white">About</a></li>
                    <li><a ui-sref="work" class="white">Work</a></li>
                    <li><a ui-sref="contact" class="white">Contact</a></li>
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            </nav>

        <h2 class="header white">DAVIS PLUMLEE</h2>
    </div>
    <div class="row topPad">
        <div class="col-sm-4 col-md-3 sidebar">
            <ul class="list-unstyled">
                <li class="side"><a class="black hvr-underline-from-left2" ui-sref="home">HOME</a></li>
                <li class="side"><a class="black hvr-underline-from-left2" ui-sref="about">ABOUT</a></li>
                <li class="side"><a class="black hvr-underline-from-left2" ui-sref="work">WORK</a></li>
                <li class="side"><a class="black hvr-underline-from-left2" ui-sref="contact">CONTACT</a></li>
                
            </ul>
        </div>
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
            <h2 class="header bottomPa">FULL STACK DEVELOPER / DESIGNER / BUILDER</h2>
            <ul class="padLeft header sizeup">
                <li class="down">An eager and fast learning student, excited for opportunities to utilize and build upon my skill set</li>
                <li class="down">Skilled in JavaScript, HTML5, CSS, Java, Node.js, AngularJS, and jQuery, amongst other frameworks</li>
                <li class="down">A CS Major at Boise State University and graduate of <a href="https://boisecodeworks.com/Courses/Immersive" target="_blank">Boise Codeworks Full Stack Development Course</a></li>
                <li class="down">Currently working as a developer for <a href="http://shareliftapp.com/" target="_blank">Sharelift</a></li>
                <li class="down">Previously employed as a graphic designer for Colorado State University, and as the Web Design/Video Production lead at <a href="http://twobirdscreative.org/" target="_blank">Two Birds LLC</a></li>
                <li class="down">Believer in <a href="https://en.wikipedia.org/wiki/Grit_(personality_trait)" target="_blank">grit</a>, empathy, taking risks, and creative spirit</li>
                <li class="down">Hobbies include playing music, biking, <a href="https://www.flickr.com/photos/davisplumlee/" target="_blank">photography</a>, and learning more code</li>
                <li class="down"><a href="media/resume/Resume_Final.pdf" target="_blank">Extensive Resume Here</a></li>
            </ul>
        </div>
    </div>
    
    <div class="row center topperPad">
        <ul class="list-inline">
            <li class="space"><a href="https://github.com/davisplumlee" target="_blank" class="hov2"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li class="space"><a href="https://gitlab.com/davisplumlee" target="_blank" class="hov2"><i class="fa fa-gitlab" aria-hidden="true"></i></a></li>
            <li class="space"><a href="https://twitter.com/DavisPlumlee" target="_blank" class="hov2"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="space"><a href="https://www.flickr.com/photos/davisplumlee/" target="_blank" class="hov2"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
            <li class="space"><a href="https://www.linkedin.com/in/davisplumlee" target="_blank" class="hov2"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>