<div class="container-fluid">
    <div class="row center bottomPad dark paddingd">

        <nav class="navbar navbar-default navbar-inverse stackbox">
            <div class="container-fluid navbar-right">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button button-clear" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar white"></span>
                    <span class="icon-bar white"></span>
                    <span class="icon-bar white"></span>
                </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="home" class="white">Home</a></li>
                    <li><a ui-sref="about" class="white">About</a></li>
                    <li><a ui-sref="work" class="white">Projects</a></li>
                    <li><a ui-sref="contact" class="white">Contact</a></li>
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            </nav>

        <h2 class="header white">DAVIS PLUMLEE</h2>
    </div>
    <div class="row topPad">
        <div class="col-sm-3 sidebar">
            <ul class="list-unstyled">
                <li class="side"><a class="black hvr-underline-from-left2" ui-sref="home">HOME</a></li>
                <li class="side"><a class="black hvr-underline-from-left2" ui-sref="about">ABOUT</a></li>
                <li class="side"><a class="black hvr-underline-from-left2" ui-sref="work">PROJECTS</a></li>
                <li class="side"><a class="black hvr-underline-from-left2" ui-sref="contact">CONTACT</a></li>
                
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3">
           <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="thumbnail">
                            <a href="https://github.com/davisplumlee/planets-api" target="_blank"><img src="media/photos/planet-api.png" alt="..."></a>
                            <div class="caption">
                                <h3 class="center">Planet API</h3>
                                <h5 class="center">AngularJS, node.js, Firebase, JSData</h5>
                                <p class="center">
                                    <a href="https://github.com/davisplumlee/planets-api" target="_blank" class="github-template" role="button"><i class="fa fa-github" aria-hidden="true"></i></a>
                                </p>
                            </div>
                        </div>
                </div>
               <div class="col-sm-12 col-md-6">
                   <div class="thumbnail">
                        <a href="http://shareliftapp.com/" target="_blank"><img src="media/photos/sharelift-logo.png" alt="..."></a>
                        <div class="caption">
                            <h3 class="center">Sharelift -- Mobile App Dev</h3>
                            <h5 class="center">AngularJS, MeteorJS, MongoDB, Ionic, Google Maps API</h5>
                            <p class="center">
                                <a href="https://itunes.apple.com/us/app/sharelift/id1087997864?mt=8" target="_blank" class="github-template" role="button"><i class="fa fa-link" aria-hidden="true"></i></a>
                                <a href="http://shareliftapp.com/" target="_blank" class="github-template" role="button"><i class="fa fa-desktop" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
               </div>
           </div>
           <div class="row">
                <!-- <div class="col-sm-12 col-md-6">
                    <div class="thumbnail">
                            <a href="https://bitbucket.org/davisplumlee/ideavault" target="_blank"><img src="media/photos/itunes-search-pic.png" alt="..."></a>
                            <div class="caption">
                                <h3 class="center">Idea Vault</h3>
                                <h5 class="center">React, TypeScript, Dotnet Core, Azure CosmosDb</h5>
                                <p class="center">
                                    <a href="https://bitbucket.org/davisplumlee/ideavault" target="_blank" class="github-template" role="button"><i class="fa fa-bitbucket" aria-hidden="true"></i></a>
                                </p>
                            </div>
                        </div>
                </div> -->
                <!-- <div class="col-sm-12 col-md-6">
                    <div class="thumbnail">
                            <a href="https://davisplumlee.github.io/itunes-search/" target="_blank"><img src="media/photos/itunes-search-pic.png" alt="..."></a>
                            <div class="caption">
                                <h3 class="center">iTunes Music Search</h3>
                                <h5 class="center">jQuery, API Usage, Twitter Bootstrap, HTML5 Audio</h5>
                                <p class="center">
                                    <a href="https://github.com/davisplumlee/itunes-search/tree/gh-pages" target="_blank" class="github-template" role="button"><i class="fa fa-github" aria-hidden="true"></i></a>
                                    <a href="https://davisplumlee.github.io/itunes-search/" target="_blank" class="github-template" role="button"><i class="fa fa-desktop" aria-hidden="true"></i></a>
                                </p>
                            </div>
                        </div>
                </div> -->
           </div>
        </div>
    </div>
    
    <div class="row center topperPad">
        <ul class="list-inline">
            <li class="space"><a href="https://github.com/davisplumlee" target="_blank" class="hov2"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li class="space"><a href="https://bitbucket.org/davisplumlee/" target="_blank" class="hov2"><i class="fa fa-bitbucket" aria-hidden="true"></i></a></li>
            <li class="space"><a href="https://twitter.com/DavisPlumlee" target="_blank" class="hov2"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="space"><a href="https://www.flickr.com/photos/davisplumlee/" target="_blank" class="hov2"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
            <li class="space"><a href="https://www.linkedin.com/in/davisplumlee" target="_blank" class="hov2"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>